html, body, div, span, applet, object, iframe,
article, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.main-section{
  color:white;
}
.wrapper {
  width:100%;
  margin: 1em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 300px));
  display: grid;
  /* grid-gap: 20px; */
  grid-template-areas: 
  "header"
  "row2"
  "row3"
  "row4"
  "row5"
  "row6"
  "row7"
  "footer";
} 



.header{
  display: grid;
  grid-column: 1/1;
  background-color:#343A40;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-area: row1;
  height: 100px;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: larger;
  font-weight: bold;
  letter-spacing: 0.09em;
  /* grid-template: 
  "header-section1"
  "header-section2"
  "header-section3"
  "header-section4"
  "header-section5"
  "header-section6"; */
}
/* ************** ROW 1 (HEADER)*********************** */

.header-section1{
  grid-column: 1/2;
  background-color: #212529;
  padding:20px;
  width:40%;
  text-align: center;
  /* grid-area: header-section1; */
}

.header-section2{
  grid-column: 2/3;
  background-color: #212529;
  padding:20px;
  /* grid-area: header-section2; */
}
.header-section3{
  grid-column: 3/4;
  background-color: #212529;
  padding:20px;
  /* grid-area: header-section3; */
}

.header-section4{
  grid-column: 4/5;
  background-color: #212529;
  padding:20px;
  /* grid-area: header-section4; */
}
.header-section5{
  grid-column: 5/6;
  background-color: #212529;
  padding:20px;
  /* grid-area: header-section5; */
}
.header-section6{
  grid-column: 6/7;
  background-color: #212529;
  width:60%;
  padding:20px;
 text-align: center;
  /* grid-area: header-section6; */
}

/* ************** ROW 2 *********************** */
.row2{
  display: grid;
  grid-column: 1/1;
  color:white;
  font-weight: bold;
  font-size: 3em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 13em 13em;
  grid-area: row2;
  /* grid-area: 
  "row2-section1"
  "row2-section2"
  "row2-section3"
  "row2-section4" */
  /* "row2-section5"; */
}
.row2 > * {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row2 span{
  padding:20%;
}
.row2-section1{
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #6C757D;
  /* grid-area: row2-section1; */
}

.row2-section2{
  grid-column: 2/3;
  grid-row: 1/2;
	background-color: #495057;
  /* grid-area: row2-section2; */
}
.row2-section3{
  grid-column: 1/2;
  grid-row: 2/3;
	background-color: #495057;
  /* grid-area: row2-section3; */
}
.row2-section4{
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #6C757D;
  /* grid-area: row2-section4; */
  
  
}
/* .row2-section5{
  grid-area: row2-section5;
} */





/* ************** ROW 3 *********************** */

.row3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40em 45em 45em 3em;
  grid-gap: 5px;
  padding:5px;
  grid-area: row3;
}

.row3 > * {
  background-color: lightgray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  font-weight: bold;
  font-size: 2em;
}

.row3 span{
  padding:20%;
}

.row3-section1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #CED4DA;
}

.row3-section2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #CED4DA;
}

.row3-section3 {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: #CED4DA;
}

.row3-section4 {
  grid-column: 4/5;
  grid-row: 1/2;
  background-color: #ADB5BD;
}

.row3-section5 {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: #6C757D;
}

.row3-section7 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #CED4DA;
}

.row3-section8 {
  grid-column: 4/5;
  grid-row: 2/3;
  background-color: #CED4DA;
}

.row3-section9 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #CED4DA;
}

.row3-section10 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #CED4DA;
}

.row3-section11 {
  grid-column: 3/5;
  grid-row: 3/4;
  background-color: #6C757D;
}

.row3-section13 {
  grid-column: 1/-1;
  grid-row: 4/5;
  background-color: #E9ECEF;
}


/*************** ROW 4 *********************** */


.row4{
  display: grid;
  grid-column: 1/1;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 80em;
  grid-area: row4;
  grid-gap: 5px;
  background-color: #6C757D;
  margin: 5px;
}

.row4 > * {
  background-color: #343A40;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
color:white;
font-size: 2em;
}

.row4-section1 {
  grid-column: 2/3;
  grid-row: 1/1;
}

/* ************** ROW 5 *********************** */

.row5{
  display: grid;
  grid-column: 1/1;
  background-color:white;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30em 30em 30em 30em 5em;
  grid-gap: 5px;
  grid-area: row5;
  gap:5px;
}

.row5 > * {
  background-color: lightgray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
}

.row5-section1{
  grid-column:1/-1;
  grid-row: 1/2;
  background-color: #6C757D;
}

.row5-section3{
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #ADB5BD;

}
.row5-section4{
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #ADB5BD;

}
.row5-section5{
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #ADB5BD;

}
.row5-section6{
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #ADB5BD;

}
.row5-section7{
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: #ADB5BD;

}
.row5-section8{
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: #ADB5BD;
}
.row5-section9{
  grid-column: 1/-1;
  grid-row: 5/6;
  background-color: #DEE2E6;
}


/* ************** ROW 6 *********************** */

.row6{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10em;
  grid-area: row6;
  padding:5px;
  font-weight: bold;
  font-size: 2em;
  color:white;
}

.row6 > * {
  background-color: lightgray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row6-section1 {
  grid-column: 1/2;
  grid-row: 1/1;
  background-color: #343A40;
}

.row6-section2 {
  grid-column: 2/3;
  background-color: #6C757D;
}



/* ************** ROW 7 *********************** */

.row7{
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30em 40em 4em;
  grid-gap: 5px;
  grid-area: row7;
}

.row7 > * {
  background-color: lightgray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  font-weight: bold;
  font-size: 2em;
}



.row7-section1{
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #6C757D;
}
.row7-section2{
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #6C757D;

}

.row7-section3{
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: #6C757D;

}

.row7-section4{
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #495057;

}

.row7-section5{
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #DEE2E6;

}







/* ************** ROW 8 (Footer) *********************** */

.footer{
    display: grid;
    background-color: white;
    grid-template-rows: 5em 10em 5em;
    grid-gap: 5px;
  
    grid-area: footer;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  .footer-section1 {
 
    background-color: #495057;
  }

  .footer-section2 {
    background-color: #343A40;
  }
  .footer-section2 a {
    padding:10px;
  }

 
  .footer > * {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 1em;
    font-weight: bold;
  }

  .footer-section3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5px;
    background-color: #495057;
  }

  .footer-section3-2 {
    grid-column: 1/2;
  }

  .footer-section3-3 {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  


/* ************** Screen Responsiveness (@MEDIA)  *********************** */


@media(min-width:640px){
  .wrapper {
    display: grid;
    /* grid-gap: 20px; */
    grid-template: 
    "row1"
    "row2"
    "row3"
    "row4"
    "row5"
    "row6"
    "row7"
    "footer";
  }
  /* .header{
    grid-template:
    "header-section1 header-section2 header-section3 header-section4 header-section5 header-section6" ;
  }
  */


}